.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    font-family: "Lobster" sans-serif;
    font-size: 20px;
    font-style: normal;
}
.navbar h1{
    font-size: larger;
    color: #ffffff; /* Changed text color for better contrast */}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-right: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: bisque;
    cursor: pointer;
}