<!-- app.component.html -->

<!-- Header section (common across all pages) -->
<header>
  <h1>Welcome to Jacob K. George's Portfolio</h1>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/technical-experience">Technical Experience</a></li>
      <li><a routerLink="/non-technical-experience">Non-Technical Experience</a></li>
    </ul>
  </nav>
</header>

<!-- Main content section -->
<main>
  <!-- Angular router outlet to display the content of the current page -->
  <router-outlet></router-outlet>
</main>

<!-- Footer section (common across all pages) -->
<footer>
  <p>Contact Information:</p>
  <ul>
    <li>Email: jacobgeorge0322gmail.com</li>
    <li>Phone: (704) 309-8397</li>
    <li>Location: Charlotte, NC</li>
  </ul>
</footer>
