.footer{
    padding:20px;
    background-color: darkgrey;
    color: aliceblue;
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
    font-size: 14px;
}

.footer-links a:hover{
    color: bisque;
    cursor: pointer;
}