<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" >
</head>
<body>
    <app-navbar></app-navbar>

    <div class="home-container">
        <div class="main-content animate_animated animate_fadeInUp">
            <div class="thumb-container">
                <img src="./assets/thumb.png" alt="Profile Image" class="thumb-image">
            </div>
            <div class="text-container">
                <h1>Jacob George</h1>
                <p>Computer Science Student at UNC Charlotte</p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</body>
</html>
