<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate_animated animate_fadeInUp">

        <div class="main-content animate_animated animate_fadeInUp">
            <div class = "thumb-container">
                <img src ="./assets/thumb.png" alt="Profile Image" class="thumb-image">
            </div>
        </div>

        <div class = "text-container">
<p>Jacob George</p>
<p>Computer Science Student at UNC Charlotte</p>
        </div>

        
    </div>
</div>


<app-footer></app-footer>